body{
  overflow-x: hidden;
}
.edit{
  width: 50%;
  height: 90%;
  margin: 22px auto;
  background-color: #5cb85c;
  border: 2px solid #e6e6e6;
  padding: 40px 50px;

}
h1{
  text-align: center;
}
.edit_btn{
  width: 60%;
  border-radius: 30px;
  background-color: #187FAB;
}
